<h3>Impressum</h3>
<div class="impressum-grid">
    <div class="impressum-section">
        <h4>Medieninhaber &amp; Herausgeber</h4>
        Benediktinerstift Seitenstetten<br>
        Körperschaft des öffentlichen Rechts<br>
        Am Klosterberg 1<br>
        3353 Seitenstetten
    </div>
    <div class="impressum-section">
        <h4>Kontakt &amp; Vertretung</h4>
        Verantwortlich für Archiv &amp; Bibliothek:<br>
        Mag. Markus Bürscher M.A.LIS<br>
        (Stiftsarchivar und Stiftsbibliothekar)<br>
        Tel.: 07477/42300/136<br>
        E-Mail: <a href="mailto:archiv@stift-seitenstetten.at">archiv@stift-seitenstetten.at</a>
    </div>
    <div class="impressum-section">
        <h4>Zielsetzung</h4>
        Informationen über die historischen Bestände und Bereitstellung digitaler Findmittel des Stiftsarchivs und der Stiftsbibliothek Seitenstetten zur Förderung der wissenschaftlichen Forschung.
    </div>
</div>
<div class="copyright">
    &copy; 2026 Stiftsarchiv &amp; Stiftsbibliothek Seitenstetten
</div>
