<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitale Findmittel – Stiftsarchiv & Stiftsbibliothek Seitenstetten</title>
    <!-- Hier greifen alle Seiten, egal wie tief im Ordner, auf das Haupt-CSS zu -->
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>

    <header>
        {% include header.html %}
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>
